<div class= "contents">
  <% @chats.each do |chat| %>
      <div class="contents-row">
          <div class="content">
              <p1 class="chat-name"><%= chat.name %></p1>
              <p2 class="chat-text"><%= simple_format(chat.text) %></p2>
          </div>
      </div>
  <% end %>
</div>

